*.zip
*.pth
*.jpg
*.jpeg
*.tiff
*.JPG
*.JPEG
*.TIFF
.vscode
.mypy*
__pycache__
.ipynb_checkpoints
.eggs/*
*.log
*.txt
*.egg*
tb_logger/*
*.tiff
*.jpg
*:Zone.Identifier
**.pth
**.tiff
**:Zone.Identifier
**.mdb
events.**
**/events.**
**.state
*.mat